<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/main.css" rel="stylesheet">
    <script src="javas/slide.js"></script>
    <title>x8</title>
    
</head>
<body>
    <nav>
        <div class="logo">
            <a href="/">z8</a>
        </div>
        <ul class="menu">
            <li><a  href="/">Home</a></li>
            <li><a  href="#">About</a></li>
            <% if (loggedIn) { %>
                <li><a href="/profile" class="btn btn-sm btn-danger">Profile</a></li>
                <li><a href="/logout" class="btn btn-sm btn-danger">Logout</a></li>
            <% } else { %>
                <li><a href="/signup">Sign up</a></li>
                <li class="btnLogin"><a href="/login">Login</a></li>
            <% } %>
        </ul>
    </nav>
    
    <!-- Nav Section Start -->

    <!-- Nav Section -->

    <!-- Banner Start-->

    <div class="main">
        <h1>All Games</h1>
      <div class="game box">
        <img src="images/image1.jpg" alt="" class="image">
        <div class="text"></div>
        <div class="main-text">
          
        </div>
        <div class="nameOfGame">
          <p>Borderisland</p>
        </div>
        <div class="play-btn">
          <a href="#">Play</a>
        </div>
      </div>
    
      <div class="game box">
        <img src="images/image2.png" alt="" class="image">
        <div class="text"></div>
        
        <div class="main-text">
          
        </div>
        <div class="nameOfGame">
          <p>Divinity</p>
        </div>
        <div class="play-btn">
          <a href="#">Play</a>
        </div>
      </div>
    
      
    
      <div class="game box">
        <img src="images/image2.png" alt="" class="image">
        <div class="text"></div>
        
        <div class="main-text">
          
        </div>
        <div class="nameOfGame">
          <p>Fantasy</p>
        </div>
        <div class="play-btn">
          <a href="#">Play</a>
        </div>
      </div>
    
      <div class="game box">
        <img src="images/image1.jpg" alt="" class="image">
        <div class="text"></div>
        
        <div class="main-text">
          
        </div>
        <div class="nameOfGame">
          <p>Assassin</p>
        </div>
        <div class="play-btn">
          <a href="#">Play</a>
        </div>
      </div>
    </div>
    <div class="game box">
        <img src="images/image1.jpg" alt="" class="image">
        <div class="text"></div>
        
        <div class="main-text">
          
        </div>
        <div class="nameOfGame">
          <p>Fallup</p>
        </div>
        <div class="play-btn">
          <a href="#">Play</a>
        </div>
      </div>
    
      <div class="game box">
        <img src="images/image2.png" alt="" class="image">
        <div class="text"></div>
        
        <div class="main-text">
          
        </div>
        <div class="nameOfGame">
          <p>Legends</p>
        </div>
        <div class="play-btn">
          <a href="#">Play</a>
        </div>
      </div>
    
      <div class="game box">
        <img src="images/image1.jpg" alt="" class="image">
        <div class="text"></div>
        
        <div class="main-text">
          
        </div>
        <div class="nameOfGame">
          <p>tiny Man</p>
        </div>
        <div class="play-btn">
          <a href="#">Play</a>
        </div>
      </div>
    </div>
    <div class="game box">
        <img src="images/image2.png" alt="" class="image">
        <div class="text"></div>
        
        <div class="main-text">
          
        </div>
        <div class="nameOfGame">
          <p>Metal Age</p>
        </div>
        <div class="play-btn">
          <a href="#">Play</a>
        </div>
      </div>
    
      <div class="game box">
        <img src="images/image1.jpg" alt="" class="image">
        <div class="text"></div>
        
        <div class="main-text">
          
        </div>
        <div class="nameOfGame">
          <p>City</p>
        </div>
        <div class="play-btn">
          <a href="#">Play</a>
        </div>
      </div>
    </div>
</div>
<div class="game box">
    <img src="images/image2.png" alt="" class="image">
    <div class="text"></div>
    
    <div class="main-text">
     
    </div>
    <div class="nameOfGame">
      <p>Inside</p>
    </div>
    <div class="play-btn">
      <a href="#">Play</a>
    </div>
  </div>

  <div class="game box">
    <img src="images/image1.jpg" alt="" class="image">
    <div class="text"></div>
    
    <div class="main-text">
      
    </div>
    <div class="nameOfGame">
      <p>Titanfail 2</p>
    </div>
    <div class="play-btn">
      <a href="#">Play</a>
    </div>
  </div>
</div>
</div>
<div class="game box">
    <img src="images/image2.png" alt="" class="image">
    <div class="text"></div>
    
    <div class="main-text">
      
    </div>
    <div class="nameOfGame">
      <p>Hunter</p>
    </div>
    <div class="play-btn">
      <a href="#">Play</a>
    </div>
  </div>
  <div class="game box">
    <img src="images/image1.jpg" alt="" class="image">
    <div class="text"></div>
    
    <div class="main-text">
      
    </div>
    <div class="nameOfGame">
      <p>Evil </p>
    </div>
    <div class="play-btn">
      <a href="#">Play</a>
    </div>
  </div>
</div>
</div>
<div class="game box">
    <img src="images/image2.png" alt="" class="image">
    <div class="text"></div>
    
    <div class="main-text">
      
    </div>
    <div class="nameOfGame">
      <p>System shark</p>
    </div>
    <div class="play-btn">
      <a href="#">Play</a>
    </div>
  </div>
  <div class="game box">
    <img src="images/image1.jpg" alt="" class="image">
    <div class="text"></div>
    
    <div class="main-text">
      
    </div>
    <div class="nameOfGame">
      <p>Immortal</p>
    </div>
    <div class="play-btn">
      <a href="#">Play</a>
    </div>
  </div>
</div>
</div>
<div class="game box">
    <img src="images/image2.png" alt="" class="image">
    <div class="text"></div>
    
    <div class="main-text">
      
    </div>
    <div class="nameOfGame">
      <p>light Souls</p>
    </div>
    <div class="play-btn">
      <a href="#">Play</a>
    </div>
  </div>    

  
    </div>
    <!-- All games -->
    <footer>
        <p>z8</p>
    </footer>  
</body>
</html>
