@import url('https://fonts.cdnfonts.com/css/poppins');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.bodyform{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.profile_img{
    display: block;
    margin: -350px auto 0px 50px;
    /* margin-left: 50px;
    margin-right: auto; */
    width: 8%;
}
nav{
    background-color: black;
    padding: 2rem 0;
}
.logo {
    color: #eee;

}
.logo a{
    color: #eee;
    margin-bottom: 1rem;
}
.menu li {
    margin: .5rem 0;
}
.menu li a{
    color: white;
}
.menu .btnLogin{
    width: 80px;
    height: 30px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 20px;
    margin-bottom: 10px;
    transition: .5s;
}
.menu .btnLogin:hover{
    background: #fff;
    color: black;
    
}

footer{
    text-align: center;
    padding: 1rem;
    background-color: black;
    color: #eee;
}
@media screen and (min-width:742.40px){
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
    }
    .menu{
        display: flex;
        list-style: none;
        
        
    }
    .logo{
        margin-bottom: 0;
        margin-left: 1rem;
    }
    .menu li{
        margin-right: 1rem;
    }
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
}